<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @link.url, @link.url, target: '_blank' %>
</p>

<p>
  <%= link_to 'Like', like_link_path(@link), method: :put %> [<%= @link.get_upvotes.size %>]
  <%= link_to 'Disike', dislike_link_path(@link), method: :put %> [<%= @link.get_downvotes.size %>]
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>

<p>
  <strong><%= pluralize(@link.comments.count, "comment") %></strong>

  <%= render @link.comments %>

  <%= simple_form_for [@link, Comment.new] do |f| %>
    <%= f.text_area :body %>
    <%= f.submit 'Add comment' %>
  <% end %>
</p>
